body {
background-color: #f6f6f6;
}

a:link, a:visited {
color: #1155CC;
text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    Filter: none;
    }

h3 {
font: 1.8em/1.48em arial;
letter-spacing: -0.05em;
display: block;
border-bottom: 1px solid #e1e1e1;
margin-bottom: 0.7539em;
}

#container {
position: relative;
z-index: 700;
display: block;
width: 960px;
height: auto;
}

.Info-content{
margin:50px 0 0 200px;
color: #666;
overflow: hidden;
}

.Info img {
float: left;
display: block;
width: 170px;
height: 145px;
border: 1px solid #e4e4e4;
outline: none;
}

.Info h2 {
clear:both;
display: block;
width: 170px;
height: 100px;
}

.Info p {
margin-bottom: 0;
}

#Info_left {
float: left;
overflow:auto;
clear: both;
width: 660px;
display: block;
}

#Sign-In {
width: 300px;color: #555;
line-height: 1.48em;
margin-bottom: 0.7539em;
border: 1px solid #e1e1e1;
background: none #f1f1f1;
padding: 25px;
overflow:auto
float: right;
}

.note {
color: #dd4b39;
}

.Sing-Form {
display: block;
width: 308px;
float: left;
}

.Sing-Form label {
margin: 0 0 0.25em;
padding-left: 3px;
display: inline-block;
font: bold 13px/1.48em tahoma;
color: #555;
}

.sbm input{
background-color: #dd4b39;
color: #e1e1e1;
}